html {
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 20rem;
}

.logo {
  width: 4.75rem;
}

/* 23BDEE */

header {
  padding-top: 1.25rem;
  background-color: #23bdee;
}

header .container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

body {
  margin: 0;
}

.er {
  display: flex;
}

.re {
  display: flex;
}

nav {
  display: flex;
}

.container {
  width: 69.3rem;
  margin-left: auto;
  margin-right: auto;
}

.software h2 {
  text-align: center;
  font-family: "Poppints";
}
